<!DOCTYPE html>
<html lang="en">


{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>This's amazing</h1>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis eaque consequuntur ullam quos, similique
        accusamus minus laboriosam veniam animi! Id pariatur nam reiciendis alias incidunt sequi tempore tempora, omnis
        corrupti necessitatibus dolore itaque tenetur repudiandae voluptates non quas vitae, nihil numquam nesciunt
        deserunt nisi. Non voluptatibus officiis voluptatum voluptate nesciunt.
    </div>
    <div class="col-6">
        <img src="assets/img/img1.jpg" alt="..." class="img-thumbnail">

    </div>


</div>

{{> footer}}

</html>